name: Check template
on:
  push:
    paths:
      - templates/default/**
  workflow_dispatch:
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31.8.4
      - name: Install just
        run: nix profile install nixpkgs#just
      - name: Lint justfile
        working-directory: templates/default
        run: just -l
